<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="jdbc/Ds"/>
    </bean>
     <bean id="sender" class="bjornno.asynchwork.database.JdbcSender">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="fileinn" class="${groupId}.service.Input">
         <property name="sender" ref="sender"/>
    </bean>
    <bean id="fileinnscheduler" class="bjornno.javabatch.BatchFileScanScheduler" init-method="run"><constructor-arg ref="fileinn"/><constructor-arg value="c:\\temp\\fileinn"/> </bean>
    <bean id="receiver" class="bjornno.asynchwork.database.JdbcReceiver">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="asynchWorkManager" class="bjornno.asynchwork.database.SpringWorkManager">
        <constructor-arg>
            <map>
                <entry key="processor"><bean id="processor" class="bjornno.service.Process"/></entry>
            </map>
        </constructor-arg>
        <constructor-arg ref="receiver"/>
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="asynchworkScanner" class="bjornno.asynchwork.database.StupidScheduler" init-method="start">
        <property name="workManager" ref="asynchWorkManager"/>
    </bean>
</beans>